

.input-form {
    background-color: #FFFFFF;
    box-shadow: inset 0px 0px 1px 0px #000000;
    width: 368px;
    height: 40px;
    border: none;
    padding: 0px 16px;
    color: #6b7280;
}

.error-message {
    color: #b91c1c;
    font-size: "0.75rem";
    margin-top: "4px";      
    min-height: "1.2em";
    margin-left: 8px;
    font-weight: 500;
}

label {
    font-weight: 500;
    margin: 10px 0px 5px 8px;
}